body
{
    padding: 20px;
    font-size: 30px;
    background-color: #ffffff;
    color: #000000;
}

.dark-mode
{
    background-color: #000000;
    color: #ffffff;
}

input[type="checkbox"]
{
    height: 20px;
    width: 20px;
}